.customized-style{
    border: transparent !important;
    background-color:#eef3f7 !important;
 
}


.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    color: #7E8299 !important;
    font-size: 1.5rem !important;
    font-weight:600 !important;
    // margin-top: 5px !important;
    margin-left: 15px !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    border: 1px  #eef3f7 !important;
    border-radius: 6px !important;
    color: #7E8299 !important;
    font-size: 1.5rem !important;
    font-weight:600 !important
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    color: #7E8299 !important;
    font-size: 1.5rem !important;
    font-weight:600 !important
}